$font:'Lato', sans-serif;
$grey:#E5E5E5;
$white:#FFFFFF;
$purpel:#8C00FF;
$black: #000000;
$red: #FC7171;
*{
  background-color: $white;
  color: $black;
  input:focus{
    outline: none;
    text-decoration: none;
    .Bottom-header{
      background-color: #000000;
    }
  }
  button:focus{
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
}
:root {
  --res-size: calc(10px + 2vmin);
  --small-res-size: calc(var(--res-size) * 0.5);
  --big-res-size: calc(var(--res-size) * 1.5);
}
.App {
  text-align: center;
  background-color: $white;
  min-width: 30vmax;
  height: 8vmax;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  background-color: $white;
  align-items: center;
  justify-content:space-around;
  min-width: 100vmin;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: $white;
  .homeLogo{
    box-shadow: none;
  }
}
.nav-item {
  color: $white;
  text-decoration: none;
}
.logo {
  background-color: none;
  text-align: end;
}
.App-link {
  background-color: #282c34;
  color: $white;
}

/*utils*/
.vertical {
  flex-direction: column;
}
.main {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $white;
}

.container {
  display: flex;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* messages and chat */
.message-body {
  display: flex;
}
.messages-array {
  margin-top: 20%;
  padding-left: 10%;
  margin-bottom: 10vw;
  height: 100%;
}
.input-section {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  button{
    border: none;
    height: 1.7rem;
    border-radius: 30px;
    font-family: $font;
    font-weight: bold;
  }
  input{
    border-radius: 10px;
    border: none;
    height: 1.6rem;
    width: 100vw;
  }
}
//Bottom navabar
.burger{
  display: none;
}
input:checked + .Bottom-header{
    margin-bottom: 0 !important;
    transition: .7s;
    .image{
      transform: rotate(-360deg);
      transition: .5s;
    }
}
.Bottom-header{
  z-index: 9;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0 !important; 
  width: 100vw;
  height: 56vw;
  box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 54px 54px 0 0;
  background-color: $white;
  margin-bottom: -45vw;
  transition: 0.7s;
  .nav-item{
    background-color: $white;
    color: $black;
    font-weight: bold;
  }
  img{
    margin-bottom: 5vw;
    transition: .5s;
    transform: rotate(180deg);
  }
  input{
    display: none;
  }
}

/* login */
.Login{
  color: $black;
  h1{
    display: flex;
    width: 80%;
    justify-content:space-around;
    margin-top: 20vw;
  }
  input{
    font-family: $font;
    display: inline-flex;
    width: 80%;
    height: 31px;
    justify-content: center;
    background-color: $white;
  }
  button{
    font-weight: 600;
    border: none;
    color: $white;
    font-family: $font;
    width: 94px;
    height: 29px;
    background: $purpel;
    box-shadow: 5px 4px 10px -3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  img{
    float: left;
  }
  .inputLogin{
    display: flex;
    flex-direction: column;
    margin-top: 22vw;
    margin-left: 8vw;
    margin-right: -5vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    width: 84vw;
    height: 278px;
    button{
      margin-top: 10vw;
    }
  }
  .bttn{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    button{
      font-size: 15px;
      height: 9vw;
      width: 25vw;
    }
  }
  .loginInput{
    box-shadow: 5px 4px 10px -3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-bottom: 25px;
    margin-top: 55px;
    margin-left: 25px;
    width: 80%;
    img{
      margin-top: 2vw;
      margin-left: 4vw;
    }
  }
  .passwordInput{
    box-shadow: 5px 4px 10px -3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 80%;
    img{
      margin-top: 2vw;
      margin-left: 4vw;
    }
  }
  .footer{
    align-items:flex-end;
    display: inline-flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    p{
      z-index: 2;
      font-weight: bold;
    }
    .option-button{
      align-self: center;
      z-index: 1;
      width: 30%;
      color: $purpel;
      background-color: $white;
      box-shadow: none;
      font-size: 15px;
    }
  }
  .Register{
    input{
      background-color: $white;
      border: none;
    }
    .inputLogin{
      margin-top: 18vw;
    }
    .pass2{
      margin-top: 25px;
      margin-bottom: 10px;
    }
    .hh1{
      margin-top: 14vw;
    }
    .footer{
      display: flex;
      justify-content: center;
      width: 100%;
      .option-button{
        width: 27%;
      }
    }
    .option{
      display: flex;
      margin-top: 4vw;
      background-color:$white;
      box-shadow: none;
      width: 10%;
      img{
        width: 10vw;
        height: 10vw;
      }
    }
  }
}

// QRCode scanner
.name{
  width: 50vw;
}
.Scanner{
  position: relative;
  width: 100vw;
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .codeInput{
    width: 200px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    input{
      z-index: 1;
      font-family: $font;
      font-weight: 700;
      font-size: 14px;
      margin-left: 60px;
      margin-right: 28px;
      width: 70px;
      height: 40px;
      border: none;
    }
    img{
      padding: 3px 6px;
      width: 23px;
      height: 38px;
      margin-bottom: -15px;
      transform: rotate(180deg);
      border-radius: 16px;
    }
    button{
      border-radius: 16px;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .chatt{
    width: 280px;
    height: 73px;
    font-size: 36px;
    font-weight: 900;
    background-color: $purpel;
    color: $white;
    font-family: $font;
    border: none;
    border-radius: 36.5px;
    margin-top: 16vw;
  }
  .qr{
    height: 160px;
  }
  .border{
    mix-blend-mode: normal;
    width: 320px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    border-radius: 20px;
  }
}
//Chat
.Chat{
  display: flex;
  flex-direction: column;
  .reavel{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 85px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    button{
      font-size: 24px;
      width: 210px;
      height: 32px;
      color: $white;
      background-color: $red;
      font-family: $font;
      font-weight: bold;
      border: none;
      border-radius: 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .input-chat{
    display: flex;
    width: 100vw;
    height: 58px;
    position: fixed;
    justify-content:space-around;
    align-items: center;
    bottom: 0px;
    box-shadow: 0px -1px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    background-color: $purpel;
    .xLogo{
      margin-left: 2px;
      margin-right: -2px;
      border-radius: 46px 46px 0 0;
      background-color: $purpel;
      height: 35px;
    }
    .iceBraker{
      margin-left: -2px;
      margin-right: 2px;
      background-color: $purpel;
    }
  }
  .send{
    align-items: center;
    display: flex;
    width: 280px;
    height: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    input{
      width: 242px;
      border-radius: 15px;
      font-family: $font;
      font-weight: 900;
      border: none;
      padding-left: 10px;
    }
    button{
      box-shadow: none;
      background-color: $white;
      border-radius: 15px;
      border: none;
    }
  }
}
//PopUp
.popUp{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.3);
  .window{
    display: flex;
    background-color: rgba(0,0,0, 0.0);
    justify-content: center;
    align-items: center;
    height: 100%;
    .contentt{
      box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 1);
      border-radius: 54px;
    }
  }
}

//Circles
.Circles{
  width: 100vw;
  margin-bottom: 12vw;
  font-family: $font;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  img{
    position: relative;
    width: 300px;
    filter: drop-shadow(0px 1.14844px 4.59375px rgba(0, 0, 0, 0.25));
    border-radius: 11.4844px;
  }
  .spanName{
    background-color: rgba(255,255,255,0.01);
    display: flex;
    height: 169px;
    width: 300px;
    padding-bottom: 2.1%;
    border-radius: 0 0 11.4844px 11.4844px;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    color: $black;
    font-weight: bold;
    z-index: 5;
    span{
      font-size: 20px;
      padding: 9px 0px;
      border-radius: 0 0 11.4844px 11.4844px;
      height: 12%;
      width: 300px;
      margin-top: 1.5vw;
      background-color:rgba(255, 255, 255, 0.5);;
    }
  }
  button{
    border: none;
  }
}
.inf{
  padding: 0px 3.8vw;
  .bc{
    display: none;
  }
  .des{
    display: flex;
    margin-left: 15%;
    width: 70%;
  }
  .insta{
    display: none;
  }
  .fb{
    display: none;
  }
  .logOut{
    display: none;
  }
}
.profile{
  padding: 0px 0 8px 0;
  width: 70vw;
  .user{
    margin-top: 10vw;
  }
  .bc{
    border-radius: 54px 54px 0 0 ;
    width: 70vw;
    height: 30vw;
    background-color: $purpel;
    display: flex;
    justify-content: center;
  }
  .avatar{
    border-radius: 52px;
    display: flex;
    margin-top: 16vw;
    justify-content: center;
    position: absolute;
    width: 90px;
    height: 90px;
  }
  .fb{
    margin-top: 10vw;
    margin-left: 8vw;
    margin-bottom: -5vw;
    width: 50vw;
    display: flex;
    img{
      margin-right: 4vw;
    }
    p{
      font-weight: 400;
    }
  }
  .insta{
    margin-left: 8vw;
    display: flex;
    img{
      margin-right: 4vw;
    }
    p{
      font-weight: 400;
    }
  }
  .logOut{
    border-radius: 35px;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button{
      font-family: $font;
      width: 223px;
      height: 22px;
      font-size: 18px;
      background-color: none;
      border: none;
      color: $red;
    }
  }
}
.chatPopUp{
  width: 59%;
  padding: 30px 30px ;
  img{
    margin-top: 5vw;
  }
  .better{
    margin-left: 15vw;
  }
  .bc{
    display: none;
  }
  .fb{
    display: none;
  }
  .logOut{
    display: none;
  }
  .insta{
    margin-top: -10vw;
  }
}

// Create Circle
.Cricles{
  height: 150vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8vw;
  input{
    text-align: center;
    font-family: $font;
    font-weight: bold;
    font-size: 12px;
    border: none;
    box-shadow: 0px 0px 4.80357px rgba(0, 0, 0, 0.45);
    border-radius: 18.0134px;
    width: 269px;
    height: 36.03px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
 }
  .desciption{
    font-family: $font;
    display: flex;
    text-align: left;
    align-items: flex-start;
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 269px;
    height: 153.71px;
    font-size:14px;
    font-weight: bold;
    box-shadow: 0px 0px 4.80357px rgba(0, 0, 0, 0.45);
    border-radius: 18.0134px;
    border: none;
    resize: none;
  }
  .time{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 16vw;
    input{
      width: 120px;
      height: 36.03px;
      font-size: 12px;
    }
  }
  button{
    padding: 10px 35px;
    font-size: 20px;
    width: 148,26px;
    height: 38,57px;
    color: $white;
    background-color: $purpel;
    font-family: $font;
    font-weight: bold;
    border: none;
    border-radius: 43.9955px;
  }
}
//Searching
.Searching{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    animation: spin 1s linear infinite;
    -webkit-animation-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
    animation-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
    margin-top: -10vw;
    margin-bottom: 30vw;
  }
  h1{
    font-size: 45px;
    color: #656565;
  }
  .dot{
    color: #656565;
    display:inline-block;
		width:6px;
		height:5px;
		border-radius:50%;
		margin-right:3px;
 }
}


@keyframes spin {
  
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
}


.blue{
  background-color: blue;
}
.brown{
  background-color: brown;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}